extend layout

block content
  h1 my links

  form(method='post', action='/post')
    label(for='reply') Title
      input(type='text', name='title')
    label(for='reply') Url
      input(type='text', name='reply')
    if error
      p.error= error
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit') save

  #posts
    for post in posts
      article
        if post.value.title
          a(href='#{post.value.reply}')= post.value.title
        else
          a(href='#{post.value.reply}')= post.value.reply

    .pagination
      if next && lastKey
        a(href='/posts?last=#{lastKey}') older

block scripts
  script(type='text/javascript', src='/js/post.js')
